.slider_portada {
    width: 100%;
    height: 600px;
    margin: auto;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.slider_portada img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.75s;


}

.slider_portada input[type="radio"] {
    position: relative;
    z-index: 100;
    margin: 10px;

}

.slider_portada input[type="radio"]:checked ~ img {
    opacity: 1;
}

/*Responsive Design*/

@media (max-width:600px){
    .slider_portada{
        width: 100%;
        height: 400px;
    }
}

/*dispositivos pequeños*/
@media (min-width:600px){
    .slider_portada{
        width: 100%;
        height: 420px;
    }
}

/*dispositivos medianos*/
@media (min-width:768px){
    .slider_portada{
        width: 100%;
        height: 440px;
    }
}

/*dispositivos grandes*/
@media (min-width:992px){
    .slider_portada{
        width: 100%;
        height: 440px;
    }
}

/*dispositivos muy grandes*/
@media (min-width:1200px){
    .slider_portada{
        width: 100%;
        height: 600px;
    }
}